// Variable overrides
$sidebar-dark-nav-link-hover-bg: var('--success') !default;
$dropdown-link-active-bg: var('--success') !default;
$custom-control-indicator-checked-bg: var('--success') !default;

$input-color: var('--dark') !default;
$input-font-size: 1rem !default;
